@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Cairo');

a:link,
a:visited {
    color: black;
    cursor: auto;
}

a:link:active,
a:visited:active {
    color: black;
}

.logo {
    color: #282c34;
    font-size: 50px;
    font-family: "Cairo";
    font-weight: 550;
}


.home {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/sebrus2.png);
    /* background-repeat: no-repeat; */
    background-size:100vw 100vh;
    opacity: 0.7;
}