@import url('https://fonts.googleapis.com/css?family=Play');

a:link,
a:visited {
    color: black;
    cursor: auto;
}

a:link:active,
a:visited:active {
    color: black;
}

.logo {
    color: #282c34;
    font-size: 50px;
    font-family: "Play";
    font-weight: 550;
}
