@import url("https://fonts.googleapis.com/css?family=Play");
@import url("https://fonts.googleapis.com/css?family=Cairo");

a:link,
a:visited {
  color: black;
  cursor: auto;
}

a:link:active,
a:visited:active {
  color: black;
}

.logo {
    font-size: 150%;
    font-family: "Cairo";
    font-weight: 550;
}
