
.btn {
  padding: 8px 14px;
  cursor:pointer;
  border: 2px solid black;
  box-shadow: 2px 2px 0 0 white,
  4px 4px 0 0 black;
  transition-duration: 200ms;
}

.btn:hover {
  box-shadow: 3px 3px 0 0 white
  6px 6px 0 0 black;
}